// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-summary{
  margin: 10px auto;
  text-align: center;
}
.bet-form{
  margin-bottom: 0px;
}
table.bet-table td{
  vertical-align: top;
}
.bet-field{
  display: inline;
  padding: 19px 20px 20px;
  margin: 20px 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
.bet-box{
  width: 60px;
  margin-top: 10px;
  vertical-align: middle;
}

.bet-button{
  margin: 10px 20px 10px 5px;
}

.score{
  font-weight: bold;
  font-size: 30px;
}

.game-item{
  margin: 20px 10px;
}
.flag_image{
  border: 1px outset;
}

.team-name{
  font-weight: bold;
}
.myself{
  font-weight: bold;
  color: #468847;
}
span.odds{
  font-size: 1.2em;
}
span.odds .bet-count{
  font-size: 0.5em;
  vertical-align: sub;
}
.mybet{
  color: #006dcc;
}
.mybet.win{
  color: green;
}
.mybet.lose{
  color: red;
}

input[name=old-game] {
  display: none;
}
#hide-old-game:checked ~ table .old-game{
  display: none;
}

#hide-old-game:checked ~ div #lb-hide-old{
  display: none;
}

#show-old-game:checked ~ div #lb-show-old{
  display: none;
}
.game-summary-list{
  display: none;
  position: absolute;
  top: 100px;
  background-color: white;
  border: solid 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  padding: 5px;
  text-align: center;

}
.team-panel:hover {
  background-color: #eee !important;
}
.game-summary-list .summary-title{
  font-size: small;
}
.game-summary{
  clear: both;
}
