.center-box{
  margin: 10px 0px auto;
  text-align: center;
}

.horizon_list{
  list-style: none;
}

.horizon_list li{
  float: left;
  margin: 20px;
}
.money-total{
  font-weight: bold;
}
.money-available{
  color: green;
}
.money-frozen{
  color: gray;
}
.date{
  font-weight: bold;
}
.big-link{
  font-weight: bold;
  font-size: 16px;
}
.danger{
  color: red;
}

/*comments panel*/
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.hall{
  /*color: #FF007F; rose*/
  color: DeepSkyBlue;
  color: #00BFFF;
}
