.center-box{
  margin: 10px 0px auto;
  text-align: center;
}

.horizon_list{
  list-style: none;
}

.horizon_list li{
  float: left;
  margin: 20px;
}
.money-total{
  font-weight: bold;
}
.money-available{
  color: green;
}
.money-frozen{
  color: gray;
}
.date{
  font-weight: bold;
}
.big-link{
  font-weight: bold;
  font-size: 16px;
}
.danger{
  color: red;
}
